<!-- @include header -->

%main

	%section.sec-title
		<!-- @include _nav-sub-apartments -->
		%h2
			%span Fantastic Suite
			Raum für neue Eingebungen

		%img(src="<!-- @path fantastic_slider_01.jpg -->")
		<!-- @include nav-inpage-apartment -->

	%section.sec-info#infos
		.wrapper
			%h3 Info & Ausstattung
			%p.intro Die Fanstastic Suite befindet sich im 2. Stock eines typischen Wiener Altbaus. Auf 44 m<sup>2</sup> finden sie ein Schlafzimmer mit einem Queen Size Bett, ein Wohnzimmer mit einem komfortablen Schlafsofa, eine kleine Küchenzeile im Eingangsbereich mit Gasherd, Mikrowelle, Kühlschrank und Waschmaschine, und ein stylishes Bad!

			%img.apartment(src="<!-- @path floorplan-fantastic-suite -->")

			.features
				%div
					%h4 Basics
					%ul
						%li 1 bis 4 Personen
						%li Ohne Verpflegung
						%li Nichtraucher Apartment
						%li 44 m<sup>2</sup>
				%div
					%h4 Betten
					%ul
						%li Ein Queen Size Bett (160 × 200 cm)
						%li Eine Doppelcouch
					%h4 Lage der Wohnung
					%p Wiener Altbau, 2. Stock mit Lift
				%div
					%h4 Adresse
					%p Ausstellungsstraße 37/7<br>1020 Wien<br> Österreich
					%a.google-maps(href="https://www.google.at/maps/place/Ausstellungsstra%C3%9Fe+37/@48.218183,16.4030031,17z/data=!3m1!4b1!4m2!3m1!1s0x476d071a51644065:0xeff5a6b3290e0f6a") Google Maps

			.features
				%div
					%h4 Wohnzimmer
					%ul
						%li Bettwäsche
						%li Gratis W-LAN
						%li Kabel-TV/SAT-TV
						%li CD-Player
						%li Radio
				%div
					%h4 Küche
					%ul
						%li Kühlschrank
						%li Gasherd
						%li Geschirrausstattung
						%li Geschirrspülmaschine
						%li Kaffeemaschine
						%li Tisch-/Küchenwäsche
						%li Waschmaschine
				%div
					%h4 Bad
					%ul
						%li Fließend Kalt- und Warmwasser
						%li WC und Dusche
						%li L'Occitane Toilettartikel
						%li Handtücher
						%li Haarfön
	%section.sec-impressions
		.wrapper
			%div
				%img(src="<!-- @path inspiration_detail_01 -->")
			%div
				%img(src="<!-- @path inspiration_detail_02 -->")
			%div
				%img(src="<!-- @path inspiration_detail_03 -->")
			%div
				%img(src="<!-- @path inspiration_detail_04 -->")
			%div
				.info-text
					%div
						Im handgeschmiedeten Himmelbett umhüllt von Saris aus Kerala erwarten einen wunderbare Träume.
			%div
				%img(src="<!-- @path inspiration_detail_06 -->")

	<!-- @include sec-reviews -->

	%section.sec-booking#booking
		%h3 Preise & buchen

		.wrapper
			%div
				%table
					%tr
						%th 
							%h4 Preise
						%th <i class="fa fa-user"></i>
						%th <i class="fa fa-user"></i><i class="fa fa-user"></i> 
						%th <i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i> 
					%tr
						%th
							%span Hauptsaison
							März bis Dezember
						%td €&nbsp;95,00
						%td €&nbsp;110,00
						%td €&nbsp;125,00
					%tr
						%th
							%span Nebensaison
							Februar und März
						%td €&nbsp;60,00
						%td €&nbsp;75,00
						%td €&nbsp;90,00

			%div
				%form
					%h4 Buchen
					.formgroup
						%div
							%label(for="check-in") Ankunft
							%input(type="date" name="check-in")
						%div
							%label(for="check-out") Abreise
							%input(type="date" name="check-out")
						%div
							%label(for="guests") Anzahl Gäste
							%select(name="guests")
								%option 1 Person
								%option 2 Personen
								%option 3 Personen
					%input(type="submit" value="Verfügbarkeit prüfen")

	%section.sec-umfeld#surroundings
		%header
			%h3 Umfeld & Aktivitäten
			%p Entdecke Wien einfach und zentral vom 2. Bezirk aus
		%main
			.wrapper
				%div
					%h4 Joggen, Schwimmen, Radfahren, Skaten oder Spazierengehen
					%p Das Erholungsgebiet rund um die Alte Donau beginnt am Ende unserer Straße. Kilometerlange Spazierwege führen entlang des Wassers und bieten Erholung ohne Autos und Lärm und bieten jede Menge Natur mitten in der Stadt.
					%a.btn(href="http://www.alte-donau.info") Die Alte Donau
				%div
					%h4 Shopping und Entertainment im Donau Zentrum
					%p Donau Zentrum - Das Lifestyle-Center Wiens bietet mit über 260 Shops und Topbrands die aktuellesten Trends aus Fashion, Lifestyle und Living. Außerdem findet man dort ein sich ein großes Gastronomisches Angebot sowei ein Kinozentrum.
					%a.btn(href="http://www.donauzentrum.at") Donau Zentrum
				%div
					%h4 Zahlreiche Möglichkeiten den Gaumen zu erfreuen
					%p Immer wieder stößt man auf verträumte Gaststätten direkt am Wasser. Auch im Winter kann man von der warmen Gaststube aus vorüberziehende Wasservögel beobachten oder die Pirouetten der Eisläufer bewundern.


	%section.sec-anreise#anreise
		%header
			%h3 Anreise & Check-In
			%p So kommst du am einfachsten zur Fantastic Suite
		%main
			.wrapper
				%div
					%img(src="<!-- @path icon-auto -->")
					%h4 Mit dem Auto
					%p Ein großer Teaktisch aus Indonesien wo man sich morgens trifft. Unser viel gelobtes Müsli wird selbst gemacht, ebenso wie die Marmeladen vom Obst aus dem Garten. Marille mit viel Rum, Zimt und Kardamon, Quitte mit Kürbis und Rosmarin oder Erdbeer mit Lavendel.
					%p Unser Cafe kommt vom Lago di Garda, <em>Lucafe</em>, eine feine Rösterei welche köstlichen Cafe für unsere kleine rote Espressomaschine produziert. Wer einen Capuccino bei uns getrunken hat, will meistens noch einen zweiten.
				%div
					%img(src="<!-- @path icon-bus-bahn -->")
					%h4 Öffentlich
					%p Ein Ei von glücklichen Hühnern wird nach Wunsch frisch zubereitet. Serviert wird auf handgetöpferten Tellern und Schalen aus Israel, geschnitten mit dem besonderen Kupferbesteck aus Indien und getrunken aus Teeschalen von kleinen Töpfereien in Japan. Alles findet hier in Harmonie zueinander.
					%p Ein Frühstück für das es sich lohnt aufzustehen, sodass manche sogar Breakfast and Bed zu uns sagen würden.


	%section.sec-other-rooms
		%h3 Weitere Apartments

		.wrapper
			%div
				%div
					%img(src="<!-- @path apartment-extreme-wow-thumb -->")
					%h4 Extreme Wow Suite
					%p Raum für neue Eingebungen<br>1 bis 3 Personen, ohne Verpflegung
					%a.btn.btn-details(href="#") Details
					%a.btn.btn-booking(href="#") Buchen
			%div
				%div
					%img(src="<!-- @path apartment-marvelous-thumb -->")
					%h4 Marvelous Suite
					%p Frisches Mittelmeerfliar<br>1 bis 4 Personen, ohne Verpflegung
					%a.btn.btn-details(href="#") Details
					%a.btn.btn-booking(href="#") Buchen
			%div
				%div
					%img(src="<!-- @path apartment-ocean-thumb -->")
					%h4 Ocean Suite
					%p Asiatische Gelassenheit<br>1 bis 4 Personen, ohne Verpflegung
					%a.btn.btn-details(href="#") Details
					%a.btn.btn-booking(href="#") Buchen

<!-- @include footer -->