<!-- @include header -->

%main

	%section.sec-title
		<!-- @include _nav-sub-bnb -->
		%h2
			Wiens einziges
			%span Bed & Breakfast
			an der schönen Alten Donau

		%img(src="<!-- @path bnb_slider_01.jpg -->")

	%section.sec-bnb-features
		%main
			.wrapper
				%div
					%img(src="<!-- @path icon-city -->")
					%h4 Klein & persönlich
					%p Vier Zimmer, jedes anders und individuell eingerichtet, mit viel Charme und Liebe zum Detail. Als Einrichtung findet sich ein Potpourri an diversen Stilen wieder, dazu lieb gewonnene Dingen mitgebracht von all unseren Reisen.
				%div
					%img(src="<!-- @path icon-city -->")
					%h4 9 Minuten in die City
					%p Parken ist kostenlos auf der Straße gleich vor dem b&b. Die Ubahn fährt am Wochenende die ganze Nacht und sonst im Minutentakt, und das beste daran, die nächste Station ist nur 3 Minuten zu Fuß vom bed & breakfast entfernt.
				%div
					%img(src="<!-- @path icon-uno-city -->")
					%h4 Ganz einfach parken
					%p Parken ist kostenlos auf der Straße gleich vor dem b&b. Die Ubahn fährt am Wochenende die ganze Nacht und sonst im Minutentakt, und das beste daran, die nächste Station ist nur 3 Minuten zu Fuß vom bed & breakfast entfernt.
				%div
					%img(src="<!-- @path icon-city -->")
					%h4 Erholung ums Eck
					%p Das Erholungsgebiet rund um die Alte Donau beginnt am Ende unserer Straße. Kilometerlange Spazierwege führen entlang des Wassers und bieten Erholung ohne Autos und Lärm und bieten jede Menge Natur mitten in der Stadt.

	%section.sec-select-rooms
		%header
			%h3 Vier einzigartige Zimmer
			%p Individuell gestaltete Zimmer für Individualisten – welches Zimmer passt zu dir?

		.wrapper
			%div
				%div
					%a(href="<!-- @path room -->")
						%img(src="<!-- @path room-inspiration-thumb -->")
					%h4 №1 Inspiration
					%p Raum für neue Eingebungen<br>1 bis 3 Personen, inkl. Frühstück
					%a.btn.btn-details(href="<!-- @path room -->") Details
					%a.btn.btn-booking(href="#") Buchen
			%div
				%div
					%img(src="<!-- @path room-contemplation-thumb -->")
					%h4 №2 Contemplation
					%p Frisches Mittelmeerfliar<br>1 bis 2 Personen, inkl. Frühstück
					%a.btn.btn-details(href="#") Details
					%a.btn.btn-booking(href="#") Buchen
			%div
				%div
					%img(src="<!-- @path room-imagination-thumb -->")
					%h4 №3 Imagination
					%p Leben wie in 1001 Nacht<br>1 bis 3 Personen, inkl. Frühstück
					%a.btn.btn-details(href="#") Details
					%a.btn.btn-booking(href="#") Buchen
			%div
				%div
					%img(src="<!-- @path room-relaxation-thumb -->")
					%h4 №4 Relaxation
					%p Asiatische Gelassenheit<br>1 bis 3 Personen, inkl. Frühstück
					%a.btn.btn-details(href="#") Details
					%a.btn.btn-booking(href="#") Buchen

	<!-- @include sec-reviews -->

	%section.sec-location
		%img(src="<!-- @path map-overview -->")

	%section.sec-redirect
		%a(href="<!-- @path apartments -->")
			%span Lieber eine Ferienwohnung?
			Zu unseren Apartments


<!-- @include footer -->