<!-- @include header -->

%main

	%section.sec-welcome
		.bg-img
		/ Extra Container für BG-Bild und Content, damit CSS-Effekte funktionieren

		.content
			%h2 Alles, nur nicht gewöhnlich
			%p Jedes Zimmer und Apartment von the rooms ist mit viel Charme und Liebe zum Detail in einem individuellen Stil eingerichtet. Finde deinen passenden Raum für eine ganz besondere Zeit in Wien!
			%a.btn(href="#") Jetzt buchen

			.wrapper
				%div
					%div
						%a(href="<!-- @path bnb -->")
							%img(src="<!-- @path home-bnb-thumb -->")
						%h4 Bed & Breakfast
						%p Wiens einziges B&B an der schönen Alten Donau mit vier Zimmern und einem Frühstück für das es sich lohnt aufzustehen.
						%a.btn.btn-booking(href="<!-- @path bnb -->") Das Bed & Breakfast
				%div
					%div
						%a(href="<!-- @path apartments -->")
							%img(src="<!-- @path home-apartments-thumb -->")
						%h4 Apartments
						%p Vier außergewöhnliche Apartments in Wiens schönen zweiten Bezirk laden ein die Stadt zu entdecken.
						%a.btn.btn-booking(href="<!-- @path apartments -->") Die Apartments

	%section.sec-location
		%img(src="<!-- @path map-overview -->")

	<!-- @include sec-reviews -->

	%section.sec-about-us
		%img(src="<!-- @path portrait-2 -->")
		.wrapper
			%div &nbsp;
			%div
				%h3 Wir freuen uns auf Dich!
				%p Seit über acht Jahren führe ich unser außergewönliches Bed & Breakfast und vermietet Ferienwohnungen. Ich liebe es mich um meine Gäste zu kümmern und ihnen den Aufenthalt in Wien ganz besonders zu gestalten.
				%a.btn(href="#") Mehr über uns

<!-- @include footer -->