<!-- @include header -->

%main

	%section.sec-title
		#wrapper
			%h2
				%span № 1
				Inspiration
				%span Raum für neue Eingebungen

			<!-- @include nav-inpage-bnb -->
			%img(src="<!-- @path inspiration_slider_01.jpg -->")

	%section.sec-info
		#wrapper
			%h3 Info & Ausstattung
			%p Indisch inspiriert schläft man in Inspiration in einem handgemachten Himmelbett unter einem Baldachin von Saris und lässt sich von erdigen Rottönen umhüllen. Ein chinesischer Hochzeitsschrank verstaut alles Mitgebrachte während die riesige Laterne aus Marrakech den Raum in zartem Licht erstrahlen lässt. So kommt man nach einer verträumten Nacht auf neue Ideen.

			%h4 Basics
			%ul
				%li 1 bis 3 Personen
				%li Frühstück inkludiert
				%li Nichtraucher Zimmer
				%li Checkin/out 11 Uhr

			%h4 Bettenart
			%p Ein Kingsize Bett
			%p Auf Wunsch ein Zustellbett

			%h4 Lage des Zimmers
			%p 1. Stock, Gartenseite

			%h4 Ausstattung
			%ul
				%li Klimaanlage
				%li WC und Badewanne
				%li Haarfön
				%li L’Occitane Toilettenartikel
				%li SAT TV
				%li WIFI im Zimmer
				%li Schreibtisch
				%li Kleiderschrank

<!-- @include footer -->