%section.sec-reviews
	.wrapper
		%figure
			%blockquote “Perfect place to stay, you feel like beeing at your friends home. Close to the Danube, close tot he subway, and just the breakfast is worth a stay!”

			%cite
				Peter form Miami on
				%a(href="#") Tiscover
			%a.btn(href="#") Mehr Bewertungen