input
	@include font-skolar
	border: 2px $mid-grey solid
	border-radius: 2px
	padding: 0 0.3em
	background-color: $white

	&[type="submit"]
		@extend .btn
		background-color: $brand-color-2
		border: none
		color: $white

select
	@extend input
	-webkit-appearance: none
	background-color: none


// Formular auf Startseite
.sec-welcome-booking
	label
		display: block

	input[type="date"]
		background-color: $white-transparent
		border-color: $white

	input[type="submit"]
		background-color: $white-semi-transparent
		color: $brand-color-2

		&:hover
			background-color: $brand-color-2
			color: $white