// ###### GENERAL SETTINGS ######

*, *:before, *:after
	-mox-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box



// ###### GENERAL SYLING PLACEHOLDERS ######

%center
	margin: 0 auto