// ###### GENERAL LAYOUT SETTINGS ######

body
	background: $background-color url('bg_ricepaper')


.wrapper
	@extend %center
	padding: 0 1.5em

	@include respond-to(medium-screens)
		max-width: $wrapper-max-width
		position: relative


.sec-title

	@include respond-to(medium-screens)
		position: relative

	img
		width: 100%
		max-width: $wrapper-max-width

		@include respond-to(medium-screens)
			display: block
			margin: 0 auto

	h2
		@include respond-to(medium-screens)
			width: 300px
			height: 300px
			border-radius: 50%
			background-color: $background-color-sec-title-bubble
			display: flex
			flex-direction: column
			justify-content: center
			position: absolute
			left: 50%
			top: 50%
			margin-left: -150px
			margin-top: -170px
			padding: 1em
			





.sec-info



footer
	padding: 1em 0 2em
	border-top: solid 2px $light-gray