// #############################
// ###### GENERAL STYLING ######
// #############################

body
	background: $background-color url('bg_ricepaper')

img
	@include respond-to(handhelds)
		width: 100%

.wrapper
	@extend %center
	padding: 0 $outer-padding

	@include respond-to(handhelds)
		padding: 0 1em

	@include respond-to(medium-screens)
		max-width: $wrapper-max-width
		position: relative




// ########################
// ###### COMPONENTS ######
// ########################


// Box für Zimmer oder Apartmentauswahl
.box-room
	padding: 0.3em 0.3em 1.5em 0.3em
	margin: 2em auto 
	background-color: $white
	text-align: center
	border: 10px solid $white
	border-image: url(brush-border.png) 10 10 10 10 stretch
	background-clip: padding-box
	width: 100%
	max-width: 400px

	img
		width: 100%
		display: block
		margin: 0 0 1em