// ###### GENERAL LAYOUT SETTINGS ######

nav ul
	padding: 0
	margin: 0

	@include respond-to(medium-screens)
		li
			display: inline-block


@mixin nav-bar
	background-color: $background-color-nav
	border-bottom: 1px solid $light-gray
	padding: 1em 0


.logo
	width: 200px


.nav-main
	@include nav-bar

	li
		margin: 0.5em

	@include respond-to(medium-screens)
		ul
			display: flex
			align-items: baseline

		li:nth-last-child(2)
			margin-left: auto


.nav-sub
	@include nav-bar

	@include respond-to(handhelds)
		display: none

	@include respond-to(medium-screens)
		position: absolute
		top: 0
		width: 100%	

		ul
			margin-left: 220px

	li
		margin: 0 0.5em



.nav-inpage

	@include respond-to(handhelds)
		text-align: center
		margin-bottom: 1em

	@include respond-to(medium-screens)
		position: absolute
		bottom: 0
		width: 100%

		@include nav-bar


	ul

		@include respond-to(medium-screens)
			display: flex
			justify-content: center

	li

		@include respond-to(medium-screens)
			margin: 0 0.5em