// ################################
// ###### BASIC NAV SETTINGS ######
// ################################


nav ul
	padding: 0
	margin: 0

	@include respond-to(medium-screens)
		li
			display: inline-block


@mixin nav-bar
	background-color: $background-color-nav
	border-bottom: 1px solid $light-grey
	padding: 1em 0
	transition: background-color 0.4s ease-out, box-shadow 0.2s ease-in 0.1s


// ######################
// ###### MAIN NAV ######
// ######################

.logo
	width: 200px


.nav-main
	@include nav-bar

	li
		margin: 0.5em

	@include respond-to(medium-screens)
		ul
			display: flex
			align-items: baseline

		li:nth-last-child(2)
			margin-left: auto

			a
				@include font-finch
				padding: 0.2em 0.3em 0
				border-radius: 3px
				font-size: 1.7em
				color: $white
				background-color: $brand-color-1
				text-transform: uppercase
				transition: all 0.5s ease-out

				&:hover
					background-color: $brand-color-2

	select
		font-size: 0.8em
		border-width: 1px
		background-color: $lighter-grey
		color: $dark-grey



// #####################
// ###### SUB NAV ######
// #####################

.nav-sub
	@include nav-bar

	@include respond-to(handhelds)
		display: none

	@include respond-to(medium-screens)
		position: absolute
		top: 0
		width: 100%	

		ul
			margin-left: 220px

	li
		margin: 0 0.5em



// ########################
// ###### INPAGE NAV ######
// ########################

.nav-inpage

	@include respond-to(handhelds)
		text-align: center
		margin-bottom: 1em

	@include respond-to(medium-screens)
		position: absolute
		bottom: 0
		width: 100%


	ul
		@include respond-to(medium-screens)
			@include nav-bar
			padding: 0
			text-align: center

	li
		@include respond-to(medium-screens)
			display: inline-block
			border-left: 1px solid $light-grey

			&:last-child
				border-right: 1px solid $light-grey

	a
		@include respond-to(medium-screens)
			display: inline-block
			text-align: center
			line-height: 1.1
			padding: 1em

			&:after
				font-family: "FontAwesome"
				content: "\f13a"
				display: block
				margin-top: 0.3em


			&:link, &:visited
				color: $text-color
				transition: background-color 0.5s ease

			&:hover
				background-color: $white

// Wenn Inpage-Nav top ist, wird diese Class angewandt
.sticky
	position: fixed
	width: 100%
	left: 0
	top: 0
	z-index: 100

	ul
		background-color: rgba(255,255,255,.99)
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15)
		border-bottom: 0

			



