@import "webfont-finch-bold.css"

// ###### GENERAL TYPO SETTINGS ######

body
	color: $text-color
	font-family: "skolar", serif
	font-size: 1.1em



// ###### HEADINGS ######

h2
	font-family: "skolar", serif
	font-weight: 400
	font-style: italic
	line-height: 1.2
	text-align: center
	margin: 1em 0

h2 span
	display: block
	margin: 0.1em 0 0 0

h2 span, h3
	font-family: "Finch-Bold"
	font-weight: normal
	font-size: 3em
	line-height: 1
	text-transform: uppercase
	font-style: normal

h3
	color: $brand-color-2
	margin: 1em 0 0.3em

h4
	text-transform: uppercase
	letter-spacing: 1px



// ###### LINKS ######

a:link, a:visited
	color: $brand-color-1
	text-decoration: none

a:hover, a:active
	color: $brand-color-2

nav a:link.current, nav a:visited.current
	color: $brand-color-2

