@import "webfont-finch-bold.css"

@mixin font-finch
	font-family: "Finch-Bold"
	font-weight: normal
	line-height: 1

@mixin font-skolar
	font-family: "skolar", serif


// ##############################
// ###### GENERAL SETTINGS ######
// ##############################

body
	color: $text-color
	@include font-skolar
	font-size: 1.1em

p
	margin: 1.2em 0


// #####################
// ###### HEADING ######
// #####################

h2
	font-family: "skolar", serif
	font-weight: 400
	font-style: italic
	line-height: 1.2
	text-align: center
	margin: 1em 0

h2 span
	display: block
	margin: 0.2em 0 0 0

h2 span, h3  // Titel Zimmer/Apartments & Sektionen
	@include font-finch
	font-size: 3em
	text-transform: uppercase
	font-style: normal
	line-height: 0.9

h3
	text-align: center
	color: $brand-color-2
	margin: 1em 0 0.3em

h4
	color: $brand-color-2
	font-style: italic
	margin: 3em 0 0.5em


// ###### QUOTES ######

blockquote
	@include font-finch
	margin: 0
	font-size: 2.5em
	text-indent: -0.2em

cite
	font-style: normal


// ###################
// ###### LISTS ######
// ###################

	// Listen innerhalb der Zimmer
.features
	ul
		padding-left: 1.2em
		list-style: none

	li
		line-height: 1.2
		margin-bottom: 0.5em

	li:before
		@include fa-icon($fa-var-check)
		font-size: 0.8em
		margin: 0 0.4em 0 -1.4em