// ###### COLORS ######

$background-color: #F2EEDD
$background-color-nav: rgba(255,255,255,0.93)
$background-color-sec-title-bubble: rgba(255,255,255,0.9)

$white: #FFF
$white-semi-transparent: rgba(255,255,255,0.6)
$white-transparent: rgba(255,255,255,0.4)

$light-grey: #DCD5D5
$lighter-grey: lighten($light-grey, 10%)
$mid-grey: #9E968F
$dark-grey: darken($mid-grey, 30%)

$brand-color-1: #0099B2
$brand-color-2: #41135F
$brand-color-complement: #EA8548

$text-color: #1F1F1F



// ###### MEDIA QUERIE VARIABLES ######

$break-medium: 600px
$wrapper-max-width: 1200px
$outer-padding: 1.5em

// ###### SIZES ######


