%footer
	.wrapper
		%div
			© the rooms 2014 · 
			%a(href="#") Impressum
		%div
			%i.fa.fa-phone
			+43 664 43 16 830
		%div
			%a(href="mailto:book@therooms.at")
				%i.fa.fa-envelope
				book@therooms.at
