<!-- @reload -->

<!DOCTYPE html>
%html

  %head
    %title the rooms
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="robots" content="noindex, nofollow")
    <!-- @stylesheet style -->

    <script type="text/javascript" src="//use.typekit.net/uqq2lix.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- @javascript less jquery-1.8.3.min sticky  -->
    <script>$(window).load(function(){$("#nav-inpage").sticky({ topSpacing: 0 });});</script>

  %body

    %header
      <!-- @include _nav -->