<!-- @reload -->

<!DOCTYPE html>
%html

  %head
    %title the rooms
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="robots" content="noindex, nofollow")
    <!-- @stylesheet style -->

  %body

    %header
      <!-- @include _nav -->
      <!-- @include _nav-sub-bnb -->