%nav.nav-sub
  .wrapper
    %ul
      %li
        %a(href="<!-- @path apartment-fantastic -->") Fantastic Suite
      %li
        %a(href="#") Extreme Wow Suite
      %li
        %a(href="#") Marvelous Suite
      %li
        %a(href="#") Ocean Suite