%nav.nav-main

  .wrapper

    %ul.nav-main-logo
      %li
        %h1
          %a(href="<!-- @path index -->")
            %img(src="<!-- @path therooms_logo -->" alt="the rooms")
      %li
        %a(href="#") Buchen
      %li
        %select
          %option DE
          %option EN
          %option FR
          %option RU

    %ul.nav-main-links
      %li
        %a(href="<!-- @path room -->") Bed & Breakfast
      %li
        %a(href="#") Apartments
      %li
        %a(href="#") Über uns
      %li
        %a(href="#") Bewertungen
      %li
        %a(href="#") Kontakt
      %li
        %a(href="#") Buchen
      %li
        %select
          %option DE
          %option EN
          %option FR
          %option RU