%nav.nav-inpage
  %ul
    %li
      %a(href="#") Info & Ausstattung
    %li
      %a(href="#") Preise & buchen
    %li
      %a(href="#") Unser Frühstück
    %li
      %a(href="#") Umfeld & Aktivitäten