%nav
  #wrapper
    %ul
      %li
        %a(href="#") 1  Inspiration
      %li
        %a(href="#") 2 Contemplation
      %li
        %a(href="#") 3 Relaxation
      %li
        %a(href="#") 4 Imagination
      %li
        %a(href="#") Lage & Anreise