%nav.nav-inpage
  %ul
    %li
      %a(href="#infos") Info & Ausstattung
    %li
      %a(href="#booking") Preise & buchen
    %li
      %a(href="#breakfast") Unser Frühstück
    %li
      %a(href="#surroundings") Umfeld & Aktivitäten