%nav.nav-main

  .wrapper

    %ul
      %li 
        %h1
          %a(href="#")
            %img.logo(src="<!-- @path therooms_logo -->" alt="the rooms")
      %li
        %a(href="#") Bed & Breakfast
      %li
        %a(href="#") Apartments
      %li
        %a(href="#") Über uns
      %li
        %a(href="#") Bewertungen
      %li
        %a(href="#") Kontakt
      %li
        %a(href="#") Buchen
      %li
        %select
          %option DE
          %option EN
          %option FR
          %option RU